@media (min-width: 650px) {
  .split {
    flex-flow: row wrap;
  }

  .search input,
  .contactform__item {
    width: 400px;
  }

  nav {
    display: flex;
    margin-right: auto;
    position: static;
    padding: 0;
  }

  nav,
  .details__content {
    flex-direction: row;
  }

  #hamburger {
    display: none;
  }

  .details__content > * {
    flex: 1;
  }
}
