@import "./import/variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
} 

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: var(--clr-white);
    background: var(--clr-background);
    font-family: var(--ff-body);
    min-height: 100vh;
}

img {
    width: 100%;
}

iconify-icon {
    outline: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: var(--clr-blue);
    font-size: 1.5em;   
}

header, footer {
    background: var(--clr-header);
}

header {
    display: flex;
    align-items: center;
    padding: 2em;
    position: sticky;
    z-index: 1000;
    width: 100%;
    top: 0px;
    gap: 2em;
    min-height: 110px;
}

footer {
    font-family: var(--ff-body);
    font-size: 0.8em;
    padding: 1em;
    text-align: center;
}

footer a {
    color: var(--clr-white);
    text-decoration: underline;
}

#hamburger {
    font-size: 2em;
    margin-right: auto;
    color: var(--clr-blue);   
}

#hamburger:hover {
    cursor: pointer;
}

nav {
    display: none;
    background: var(--clr-header);
    gap: 2em;
    left: 0px;
    top: 90px;
    z-index: 1000;
    padding: 2em;
    position: absolute;
    border-radius: 0px 0px 20px 0px;
}

nav a {
    color: rgb(106, 175, 236);
    text-transform: uppercase;
    font-family: var(--ff-heading);
    font-size: 1em;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.active {
    color: rgb(107, 127, 145);
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: var(--ff-heading);
    text-align: center;
}

h1, h2 {
    color: var(--clr-blue);
}

p {
    line-height: 1.2em;
}

.container {
    width: min(100% - 2em, 75em);
    margin-inline: auto;
    padding-block: 4em;
    gap: 4em;
    align-items: center;
}

.flex, .split {
    display: flex;
    flex-direction: column;
}

.results {
    gap: 2.5em;
    justify-content: center;
}

.results a {
    color: var(--clr-white);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--clr-blue);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error {
    background: rgb(172, 64, 64, 0.1);
    color: rgb(172, 64, 64);
    padding: 2em;
    border: 1px solid rgb(172, 64, 64);
}

.success {
    background: rgb(64, 172, 64, 0.1);
    color: rgb(64, 172, 64);
    padding: 2em;
    border: 1px solid rgb(64, 172, 64);
}
